.footer__container {
  padding: 3rem;
  position: relative;
  width: 100%;
  background-color: $clr-black;
  color: $clr-white;

  .footer__scroll__top {
    display: none;
  }

  .footer__container__top {
    width: 100%;
    padding: 0 0 4rem 0;
    margin-bottom: 4rem;
    display: block;
    border-bottom: 1px solid $clr-dark-grey;

    .footer__logo__container {
      margin-right: 0;
      .footer__logo {
        color: $clr-white;
        fill: currentColor;
      }
      display: none;
    }

    .footer__navbar {
      ul {
        display: block;
      }
      li {
        margin: 0 0 3rem 0;
        text-transform: uppercase;

        a {
          color: $clr-white;
        }
      }
    }
  }

  .footer__container__bottom {
    display: block;
    padding: 0;
    p {
      color: $clr-medium-grey;
      margin: 0;
      font-size: 1.3rem;
      line-height: 1.2;
      font-weight: 300;

      &:last-child {
        margin: 2rem 0 0 0;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 5.5rem 15.7rem 4rem 5rem;
    height: 31rem;

    .footer__scroll__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 11.7rem;
      height: 100%;
      background-color: $clr-white;

      h6 {
        color: $clr-tint;
        margin-top: 0.8rem;
        font-weight: lighter;
      }
    }

    .footer__container__top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 0 5rem 0;
      margin-bottom: 5rem;

      .footer__logo__container {
        display: block;
      }

      .footer__navbar {
        margin-left: 9.5rem;
        ul {
          display: flex;
          align-items: center;
        }
        li {
          margin: 1.5rem 0 0 2.5rem;

          a {
            color: $clr-white;
            font-weight: 300;
            display: inline-block;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            vertical-align: bottom;
          }

          a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            background-color: $clr-white;
            width: 100%;
            left: -100%;
            transition: $transition;
          }

          a:hover:after {
            width: 100%;
            left: 0;
          }
        }
      }
    }

    .footer__container__bottom {
      display: flex;
      gap: 4rem;
      padding: 0 2rem 0 1rem;
      p {
        font-size: 1.6rem;
        margin: 0;
        font-weight: 300;
        letter-spacing: 0.02rem;

        &:last-child {
          margin: 0 0 0 33rem;
        }
      }
    }
  }
}
