.sidemenu__container {
  width: 100%;

  .sidemenu__links__container {
    padding: 4rem;
    > li {
      border-bottom: 1px $clr-white solid;
      padding: 2rem 0;
      text-transform: uppercase;
      text-align: right;
    }
  }
}
