.home__main {
  width: 100%;

  .home__hero {
    position: relative;
    width: 100%;
    height: 50rem;

    .home__hero__text__container {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      z-index: 3;
      padding-right: 4rem;

      h4 {
        letter-spacing: 0;
        font-weight: 300;
      }

      .home__hero__subtitle {
        margin-bottom: 2rem;
      }
    }

    .home__hero__img__container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &::after {
        pointer-events: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5) 3%,
          rgba(0, 0, 0, 0) 40%
        );
        z-index: 1;
      }

      .home__hero__img {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }

  .home__cards__grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(autofill, 48.5rem);
  }
}

@media screen and (min-width: $desktop) {
  .home__main {
    .home__hero {
      height: 100vh;

      .home__hero__text__container {
        position: absolute;
        bottom: 7.2rem;
        left: 4rem;
        z-index: 2;

        .home__hero__subtitle {
          margin-bottom: 4rem;
        }
      }
    }

    .home__cards__grid {
      grid-template-rows: repeat(autofill, 56.8rem);
      grid-template-columns: repeat(2, 1fr);
    }

    .home__textcards__2 {
      flex-direction: row-reverse;
    }

    .home__casefilter {
      height: 9rem;
      width: 100%;
      background-color: $clr-white;
      h3 {
        color: $clr-black;
      }
    }
  }
}
