.buttonmore__btn {
  display: flex;
  margin-left: 4rem;
  transition: $transition;

  &:hover {
    opacity: 0.5;
  }

  .buttonmore__circle {
    border-radius: 50%;
    background-color: $clr-white;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.4rem;
  }
}
