.clients__container {
  width: 100%;
  min-height: 97.7rem;
  background-color: $clr-black;
  padding: 10rem 4rem 4rem 4rem;

  .clients__text {
    margin-top: 3rem;
    h6 {
      color: $clr-white;
    }
  }
}
