.testimonial__container {
  width: 100%;
  padding: 0 4rem;
  height: 28.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $clr-black;
  gap: 2rem;
  h5 {
    color: $clr-white;
    text-align: center;
  }
  h6 {
    text-transform: uppercase;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 4rem;
  }
}
