@font-face {
  font-family: "maison-neue";
  src: url("../../asset/MaisonNeue/MaisonNeueTRIAL-ExtraThin.woff2")
      format("woff2"),
    url("../../asset/MaisonNeue/MaisonNeueTRIAL-ExtraThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maison-neue";
  src: url("../../asset/MaisonNeue/MaisonNeueTRIAL-Book.woff2") format("woff2"),
    url("../../asset/MaisonNeue/MaisonNeueTRIAL-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maison-neue";
  src: url("../../asset/MaisonNeue/MaisonNeueTRIAL-Black.woff2") format("woff2"),
    url("../../asset/MaisonNeue/MaisonNeueTRIAL-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maison-neue";
  src: url("../../asset/MaisonNeue/MaisonNeueTRIAL-Medium.woff2")
      format("woff2"),
    url("../../asset/MaisonNeue/MaisonNeueTRIAL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maison-neue";
  src: url("../../asset/MaisonNeue/MaisonNeueTRIAL-Bold.woff2") format("woff2"),
    url("../../asset/MaisonNeue/MaisonNeueTRIAL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maison-neue";
  src: url("../../asset/MaisonNeue/MaisonNeueTRIAL-Light.woff2") format("woff2"),
    url("../../asset/MaisonNeue/MaisonNeueTRIAL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maison-neue";
  src: url("../../asset/MaisonNeue/MaisonNeueTRIAL-ExtraBold.woff2")
      format("woff2"),
    url("../../asset/MaisonNeue/MaisonNeueTRIAL-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maison-neue";
  src: url("../../asset/MaisonNeue/MaisonNeueTRIAL-Thin.woff2") format("woff2"),
    url("../../asset/MaisonNeue/MaisonNeueTRIAL-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maison-neue";
  src: url("../../asset/MaisonNeue/MaisonNeueTRIAL-Demi.woff2") format("woff2"),
    url("../../asset/MaisonNeue/MaisonNeueTRIAL-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
