.footer__container {
  width: 100%;
  height: 31rem;
  background-color: $clr-black;
  color: $clr-white;

  .footer__logo__container {
    .footer__logo {
      color: $clr-white;
      fill: currentColor;
    }
  }
}
