.main {
  width: 100%;
  height: calc(100vh - 5.6rem);

  .hero-img-container {
    width: 100%;
    height: 100%;
    .hero-img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: $desktop) {
  .main {
    height: calc(100vh - 11.5rem);
  }
}
